<a href="https://colab.research.google.com/github/brontominds/bounce_demand/blob/v0.01/DemandPredictionPythonModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.utils import shuffle
import matplotlib.pyplot as plt  # For plotting graphs 
from datetime import datetime    # To access datetime 

#Add date time specific columns to the dataframe
def datetime(df):
  from datetime import datetime
  df['datetime'] = pd.to_datetime(df['datetime'])
  df['year'] = df['datetime'].dt.year
  df['month']=df['datetime'].dt.month
  df['day'] = df['datetime'].dt.day 
  df['hour'] = df['datetime'].dt.hour
  df['dayofweek'] = df['datetime'].dt.dayofweek
  return df

#Normalize a column of dataframe and return mean and sd
def normalize(df,feature_name):
  mean_value = df[feature_name].mean()
  std_value = df[feature_name].std()
  df[feature_name] = (df[feature_name] - mean_value) / std_value        
  return (df, mean_value, std_value)


#Read Training Data
data=pd.read_csv("train.csv")
data_original=data

data=datetime(data)
data=data.drop('datetime',axis=1)

data, mean_temp, sd_temp=normalize(data,["temp"])
data,mean_atemp,sd_atemp=normalize(data,["atemp"])
data,mean_humidity,sd_humidity=normalize(data,["humidity"])
data,mean_windspeed,sd_windspeed=normalize(data,["windspeed"])

In [10]:

#For debugging only
print(mean_temp, sd_temp, mean_atemp, sd_atemp, mean_humidity, sd_humidity, mean_windspeed, sd_windspeed)
print(data.head())
#

temp    20.23086
dtype: float64 temp    7.79159
dtype: float64 atemp    23.655084
dtype: float64 atemp    8.474601
dtype: float64 humidity    61.88646
dtype: float64 humidity    19.245033
dtype: float64 windspeed    12.799395
dtype: float64 windspeed    8.164537
dtype: float64
   season  holiday  workingday  weather  ...  month  day  hour  dayofweek
0       1        0           0        1  ...      1    1     0          5
1       1        0           0        1  ...      1    1     1          5
2       1        0           0        1  ...      1    1     2          5
3       1        0           0        1  ...      1    1     3          5
4       1        0           0        1  ...      1    1     4          5

[5 rows x 16 columns]