In [2]:
import numpy as np
import pandas as pd

In [17]:
data=np.zeros((59,), dtype=int)

In [18]:
data

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [19]:
df=pd.DataFrame([data],columns=['holiday', 'workingday', 'temp', 'atemp', 'humidity', 'windspeed',
       'year', 'day', 'season_1', 'season_2', 'season_3', 'season_4',
       'weather_1', 'weather_2', 'weather_3', 'weather_4', 'hour_0', 'hour_1',
       'hour_2', 'hour_3', 'hour_4', 'hour_5', 'hour_6', 'hour_7', 'hour_8',
       'hour_9', 'hour_10', 'hour_11', 'hour_12', 'hour_13', 'hour_14',
       'hour_15', 'hour_16', 'hour_17', 'hour_18', 'hour_19', 'hour_20',
       'hour_21', 'hour_22', 'hour_23', 'dayofweek_0', 'dayofweek_1',
       'dayofweek_2', 'dayofweek_3', 'dayofweek_4', 'dayofweek_5',
       'dayofweek_6', 'month_1', 'month_2', 'month_3', 'month_4', 'month_5',
       'month_6', 'month_7', 'month_8', 'month_9', 'month_10', 'month_11',
       'month_12'])

In [20]:
df

,holiday,workingday,temp,atemp,humidity,windspeed,year,day,season_1,season_2,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
holiday=1
season=3
month=5
hour=12
dayofweek=4
year=2019
workingday=0
temp=22
atemp=23
humidity=67
windspeed=10
day=23

In [25]:
meanFileName = r'C:\Users\Shrweta\Dropbox\BounceDemandPrediction\data_mean_std.csv'
dfMeans=pd.read_csv(meanFileName, header=0)

In [26]:
dfMeans

,mean_temp,mean_humidity,mean_windspeed,mean_atemp,sd_temp,sd_humidity,sd_windspeed,sd_atemp
0,20.23086,61.88646,12.799395,23.655084,7.79159,19.245033,8.164537,8.474601

In [29]:
mean_temp=dfMeans['mean_temp'][0]
mean_atemp=dfMeans['mean_atemp'][0]
mean_humidity=dfMeans['mean_humidity'][0]
mean_windspeed=dfMeans['mean_windspeed'][0]
sd_temp=dfMeans['sd_temp'][0]
sd_humidity=dfMeans['sd_humidity'][0]
sd_windspeed=dfMeans['sd_windspeed'][0]
sd_atemp=dfMeans['sd_atemp'][0]

In [ ]:
df['holiday'][0] = holiday
df['temp'][0]=(temp-mean_temp)/sd_temp

df["season_" + str(season)][0]=1
df["weather_" + str(weather)][0]=1