In [12]:
    def Checking_Null_values(df,column_name):
        flag=True
        if df[column_name].isnull().values.any()==flag:
             return render_template('contact.html')
        else:
            column_name=df[column_name]
            return column_name

In [6]:
data={'holiday':[0,0,1,0,0],"workingday":[1,0,0,0,1]}

In [7]:
import pandas as pd

In [8]:
data=pd.DataFrame(data)

In [9]:
data

   holiday  workingday
0        0           1
1        0           0
2        1           0
3        0           0
4        0           1

In [13]:
holiday=Checking_Null_values(data,'holiday')

In [14]:
holiday

0    0
1    0
2    1
3    0
4    0
Name: holiday, dtype: int64

In [109]:
def validate_hour(hr):
    if hr==['^a-zA-Z']:
        return render_template('contact.html')
    elif hr==['"!@#$%^&*()[]{};:,./<>?\|`~-=_+", " "']:
        return render_template('contact.html')
    elif int(hr)>23:
        return render_template('contact.html')
    else:
        return hr

In [39]:
def validate_location(df,loc):
    if df['place']==loc:
        return df['place']
    else:
        return render_template('contact.html')

In [42]:
def validate_prediction(df,columns):
    if set(['temp','app_temp','season_code','weather_code','humidity']).issubset(df.columns):
        return df
    else:
        return render_template('contact.html')

In [106]:
import datetime

In [157]:
 def validate_date(dt):
        from dateutil import parser
        dt=parser.parse(dt)
        
        date=dt.strftime('%Y-%m-%d')
        return date

In [158]:
date=validate_date('21-july-2019')

In [159]:
date

'2019-07-21'

In [162]:
type(date)

str

In [165]:
date_1=datetime.datetime.strptime(date,'%Y-%m-%d').date()

In [172]:
hour_1=str(validate_hour(12))

In [176]:
hour_1=datetime.datetime.strptime(hour, '%H').time()

In [178]:
combine_date_time=datetime.datetime.combine(date,hour)

In [180]:
present = datetime.datetime.now()

In [181]:
combine_date_time<present

True