In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"output.csv")

In [10]:
df.columns

Index(['Unnamed: 0', 'app_temp', 'clouds', 'clouds_hi', 'clouds_low',
       'clouds_mid', 'datetime', 'dewpt', 'dhi', 'dni', 'ghi', 'ozone', 'pod',
       'pop', 'precip', 'pres', 'rh', 'slp', 'snow', 'snow_depth', 'solar_rad',
       'temp', 'timestamp_local', 'timestamp_utc', 'ts', 'uv', 'vis',
       'weather.code', 'weather.description', 'weather.icon', 'wind_cdir',
       'wind_cdir_full', 'wind_dir', 'wind_gust_spd', 'wind_spd', 'city',
       'lon', 'lat', 'place', 'weather_code', 'season', 'season_code',
       'dayofweek', 'workingday', 'holiday', 'year', 'month', 'day', 'hour'],
      dtype='object')

In [11]:
hour=10

In [13]:
hour=df['hour'].isin([hour])

In [18]:
hour[hour==True].count()

5

In [20]:
df[hour==True]

,Unnamed: 0,app_temp,clouds,clouds_hi,clouds_low,clouds_mid,datetime,dewpt,dhi,dni,...,weather_code,season,season_code,dayofweek,workingday,holiday,year,month,day,hour
20,20,26.0,72,22,10,66,2019-07-20 05:00:00,18.9,116.06,910.36,...,1,Monsoon,3,5,1,0,2019,7,10,10
44,44,25.9,49,12,44,0,2019-07-21 05:00:00,19.7,116.09,910.56,...,1,Monsoon,3,6,1,0,2019,7,10,10
68,68,26.1,100,100,49,5,2019-07-22 05:00:00,19.8,116.13,910.78,...,1,Monsoon,3,0,0,0,2019,7,10,10
92,92,23.3,92,76,31,42,2019-07-23 05:00:00,18.5,116.16,911.01,...,1,Monsoon,3,1,0,0,2019,7,10,10
116,116,23.2,100,42,26,99,2019-07-24 05:00:00,18.9,116.20,911.25,...,1,Monsoon,3,2,0,0,2019,7,10,10

In [40]:
from datetime import datetime

In [41]:
df['datetime'] = pd.to_datetime(df['datetime'])
df['date'] = df['datetime'].dt.date

In [42]:
df.columns

Index(['Unnamed: 0', 'app_temp', 'clouds', 'clouds_hi', 'clouds_low',
       'clouds_mid', 'datetime', 'dewpt', 'dhi', 'dni', 'ghi', 'ozone', 'pod',
       'pop', 'precip', 'pres', 'rh', 'slp', 'snow', 'snow_depth', 'solar_rad',
       'temp', 'timestamp_local', 'timestamp_utc', 'ts', 'uv', 'vis',
       'weather.code', 'weather.description', 'weather.icon', 'wind_cdir',
       'wind_cdir_full', 'wind_dir', 'wind_gust_spd', 'wind_spd', 'city',
       'lon', 'lat', 'place', 'weather_code', 'season', 'season_code',
       'dayofweek', 'workingday', 'holiday', 'year', 'month', 'day', 'hour',
       'date'],
      dtype='object')

In [92]:
date='2019-07-19'

In [93]:
date=df['datetime'].dt.date.astype(str) == date

In [87]:
date=date.values.tolist()

In [95]:
date.value_counts()

False    106
True      15
Name: datetime, dtype: int64