In [ ]:
hour=[0,1,2,3,4,5,6,7,8,10,11,12,13,14,15,16,17,18,19,20,21,22,23]

In [ ]:
def hour():
    hr=[0,1,2,3,4,5,6,7,8,10,11,12,13,14,15,16,17,18,19,20,21,22,23]
    for hour in hr

In [1]:
import pandas as pd

In [4]:
dataframe=pd.DataFrame(columns=['Hour','Predicted_Demand'])

In [5]:
dataframe

Empty DataFrame
Columns: [Hour, Predicted_Demand]
Index: []

In [20]:
for hr in range(0,24):
     hour=hr

In [56]:
a=[0,1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8,9,0,1,2,1]

In [57]:
len(a)

24

In [58]:
type(a)

list

In [61]:
import numpy as np

In [ ]:
dataframe